.app-header--container {
  text-align: center;
  background-color: #fde047;
  border-bottom: 1px solid #facc156b;
}

.app-header--title {
  color: #854d0e;
  font-family: "Annie Use Your Telescope", cursive;
  font-size: 1.5rem;
  font-weight: 600;
}

.app-header--logo {
  width: 20px;
  max-height: 100%;
}
